@{
    ViewBag.Title = "Criar novo evento";
}


@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()



    <h4>Criar evento</h4>
    <hr />
    <div class="row">
        <div class=" column pl-5" >
            <div class="form-group">
                <label>Titulo:</label>
                <div class="text-md-left">
                    <input id="titulo_evento" name="titulo_evento" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Data</label>
                <div class="text-md-left">
                    <input id="data_evento" type="date" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Hora:</label>
                <div class="text-md-left">
                    <input id="hora_evento" type="text" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label>Local:</label>
                <div class="text-md-left">
                    <input id="local_evento" type="text" class="form-control" />
                </div>
            </div>
        </div>
       

        <div class=" column pl-5">
            <div class="form-group">
                <label>Morada:</label>
                <div class="text-md-right">
                    <input id="morada_evento" type="text" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label>Localidade:</label>
                <div class="text-md-right">
                    <input id="localidade_evento" type="text" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label>Tipo de evento:</label>
                <div class="text-md-right">
                    <input id="tipo_evento" type="text" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label>Estado:</label>
                <div class="text-md-right">
                    <input id="estado_evento" type="text" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <div class="text-md-right">
                    <input id="criar_evento_submit" type="submit" asp-controller="EventosAdmin" asp-action="Sucesso" value="Criar evento" class="btn btn-outline-dark" />
                </div>
            </div>
        </div>
    </div>


}

