@model IEnumerable<EventosWebApp.Models.ModelsAPI.Local>

@{
    ViewData["Title"] = "Index";
}
<center>
    <select>
        <option value="" selected disabled>-- Locais --</option>
        @{
            var listLocal = new List<string>();
            @foreach (var item in Model)
            {
                if (!listLocal.Contains(item.Localidade.ToString()))
                {
                    <option>
                        @item.Localidade
                    </option>
                }
                listLocal.Add(item.Localidade.ToString());
            }
         }
    </select>
</center>

