
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Esta plataforma serve para informá-lo de tudo de forma a não perder nenhum evento!</p>

    @if (!SignInManager.IsSignedIn(User))
    {
        <p>Para poder adicionar os eventos à sua lista de favoritos por favor registe-se ou entre na sua conta.</p>
        }
    else if (SignInManager.IsSignedIn(User) && User.IsInRole("Cliente"))
    {
        <p>Inicie a sua experiência!</p>
    }
    
</div>

