@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Esta plataforma serve para que posssa ver os eventos que se irão realizar.</p>
</div>
