
@{
    ViewData["Title"] = "addToFavorite";
}

<h3>O seu evento não foi adicionado pois já se encontrava na sua lista de favoritos.</h3>

<td>
    @Html.ActionLink("Voltar para a página de eventos", "Filter")
</td>
