@model EventosWebApp.Models.ModelsAPI.Evento

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Evento</h4>
<hr />
@if (ViewData["evento_editado"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["evento_editado"]
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="TipoId" class="control-label"></label>
                    <input asp-for="TipoId" class="form-control" />
                    <span asp-validation-for="TipoId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="TipoId" class="control-label"></label>
                <select asp-for="TipoId" id="typeEventSelect" class="form-control">
                    <option selected disabled>Tipo de Evento</option>
                </select>
                <span asp-validation-for="Tipo.TipoEvento" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="LocalId" />
            <div class="form-group">
                <label asp-for="Local.NomeLocal" class="control-label"></label>
                <input asp-for="Local.NomeLocal" class="form-control" />
                <span asp-validation-for="Local.NomeLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.Morada" class="control-label"></label>
                <input asp-for="Local.Morada" class="form-control" />
                <span asp-validation-for="Local.Morada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local.Localidade" class="control-label"></label>
                <input asp-for="Local.Localidade" class="form-control" />
                <span asp-validation-for="Local.Localidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Filter">Voltar para a lista de eventos</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    window.onload = getEventTypes;
    
    function getEventTypes() {
        var type_select_dropdown = document.getElementById("typeEventSelect");
        var event_type = @Model.TipoId;
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetTypesofEvents")',
            accepts: "*/*",
            success: function (data) {
                for (var type_item = 0; type_item < data.length; type_item++) {
                    var newTypeOption = document.createElement("option");
                    newTypeOption.value = data[type_item].id;
                    newTypeOption.text = data[type_item].tipoEvento;
                    type_select_dropdown.appendChild(newTypeOption);
                    if (data[type_item].id == event_type) {
                        newTypeOption.selected = true;
                    }
                }
                console.log(data);
            },
            failure: function (response) {
                console.log(response.responseText);
            },
        });
    }
</script>
