
@{
    ViewData["Title"] = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Eventos que se irão realizar</h3>
<p>


</p>
<form method="POST" onsubmit="searchEvents()">
    <div class="row">
        <div class="col">
            <label>Data do Evento</label>
            <input id="data_evento" type="date" name="data_evento" />
        </div>
        <div class="col">
            <label>Tipos de evento</label>
            @Html.DropDownList("TipoEvento", ViewBag.Tipos as SelectList, htmlAttributes: new { @class = "form-control", @name = "tipoEvento" })
        </div>
        <div class="col">
            <label>Localidades</label>
            @Html.DropDownList("Localidade", (SelectList)ViewBag.Localidades, htmlAttributes: new { @class = "form-control", @name = "localidade" })
        </div>
        <div class="col">
            <label></label>
            <input id="confirmar_filtros_btn" type="submit" value="Confirmar" class="btn btn-outline-dark mt-lg-4 ml-4" />
        </div>
    </div>
</form>

<div class="col">
    <a asp-controller="Eventos" asp-action="Index" id="mostrar_todos_btn" class="btn btn-outline-dark float-md-right" value="Mostrar eventos">Mostrar todos os eventos</a>
</div>

<script>
    function searchEvents() {
        var dataSelected = document.getElementById("data_evento");
        var tipoSelected = document.getElementById("TipoEvento");
        var localidadeSelected = document.getElementById("Localidade");
        $.ajax({
            type: "GET",
            url: '@Url.Action("Filter", "Eventos")',
            accepts: "*/*",
            data: {
                data_evento: dataSelected,
                tipoEvento: tipoSelected,
                localidade: localidadeSelected
            },
            success: function (data) {
                console.log(data);
            },
            failure: function (response) {
                console.log(response.responseText);
            },
        });
    }
    
</script>
