
@{
    ViewData["Title"] = "Filter";
  
}
<h3>Eventos que se irão realizar</h3>
<p>


</p>
    <div class="row">
        <div class="col">
            <label>Data do Evento</label>
            <input id="data_evento"  type="date" name="data_evento" />
        </div>
        <div class="col">
            <label>Tipos de evento</label>
            @Html.DropDownList("TipoEvento", ViewBag.Tipos as SelectList, htmlAttributes: new { @class = "form-control", @name = "tipoEvento" })
        </div>
        <div class="col">
            <label>Localidades</label>
            @Html.DropDownList("Localidade", (SelectList)ViewBag.Localidades, htmlAttributes: new { @class = "form-control", @name = "localidade" })
        </div>
        <div class="col">
            <label></label>
            <button id="confirmar_filtros_btn" onclick="searchEvents()" class="btn btn-outline-dark mt-lg-4 ml-4"> Confirmar </button>
        </div>
    </div>

<div class="col">
    <a asp-controller="Eventos" asp-action="Index" id="mostrar_todos_btn" class="btn btn-outline-dark float-md-right" value="Mostrar eventos">Mostrar todos os eventos</a>
</div>

<div id="search_results"></div>

<script>
    function searchEvents() {
        var dataSelected = document.getElementById("data_evento").value;
        var tipoSelected = document.getElementById("TipoEvento").value;
        var localidadeSelected = document.getElementById("Localidade").value;
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchFilters", "Eventos")',
            accepts: "*/*",
            data: {
                data_evento: dataSelected,
                tipoEvento: tipoSelected,
                localidade: localidadeSelected
            },
            success: function (data) {
                document.getElementById("search_results").innerHTML = data;
            },
            failure: function (response) {
                console.log(response.responseText);
            },
        });      
    }
</script>
